.idea
.vscode
.env
__pycache__/
*.pyc
.pytest_cache/

.venv

ragas/

# local experimental folders
pwpython/
step2/文档/
# env files
.env
*.env
**/.env
step2_2/backend/.env
step2_2/frontend/node_modules/
step2_2/frontend/dist/
step2_2/运行指令.md

# personal files
.DS_Store