APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=myclaw
MYSQL_USER=你的用户名
MYSQL_PASSWORD=你的密码

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
